@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
:root {
  --main-bg-color: rgb(70, 35, 10);
  --accent-color: rgb(220, 180, 40);
}
body {
  position: relative;
  font-family: 'Noto Sans Japanese', sans-serif;
  background-color: white;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .content-text { 
    font-size:0.7em !important;
  }
}

/* tablet view */
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .message-bg {
    top: -150px !important; 
  }
  #message {
    padding-bottom: 270px !important;
    margin-bottom: 100px !important;
    background-position-y: 100% !important;
  }
}

/* PC view */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    margin-top: -25px;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: reverse!important;
    -ms-flex-direction: row-reverse!important;
    flex-direction: row-reverse!important;
  }
}

/* animations */
.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


/* custom class */
h2 {
  font-weight: 500;
  letter-spacing: 0.15em;
  color: var(--accent-color);
}
h3 {
  font-weight: 500;
  letter-spacing: 0.15em;
  text-indent:0.15em;
  color: var(--main-bg-color);
}
h1, h4{ 
  color: var(--accent-color);
}
a, p, { 
  color: var(--main-bg-color);
}
.icon-bar {
  background-color: var(--main-bg-color);
}
.container-fluid {
  margin-bottom: 70px;
}
.navbar {
  margin-bottom: 0px;
  background-color: white !important;
}
.navbar-light .navbar-toggler {
  color: var(--main-bg-color);
  border-color: rgba(0,0,0,0);
  outline: none;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--main-bg-color);
  letter-spacing: 0.15em;
}
.jumbotron { 
  margin-bottom: 0px;
  color: var(--main-bg-color);
  background:url(./images/header-bg.jpg) center no-repeat; 
  -moz-background-size:cover;
  background-size:cover;
  /* background-color: var(--accent-color);
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden; */
}
/* .jumbotron:before{
  content: '';
  background: inherit;
  position: absolute;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
} */


/* original class */
.text { 
  display: inline-block; font-size: 17px;
  color: var(--main-bg-color);
}
.content-text { 
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-indent:0.15em;
  color: var(--main-bg-color);
}
.vertical-text { 
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode:     tb-rl;
  writing-mode:         vertical-rl;
}
.content-center { 
  text-align: center;
  margin-left: 15px;
}
.entry-btn {
  color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  padding: 10px 20px 10px 20px;
  border-radius: 1px;
  border-width: 3.4px;
  /* height: 50px;
  width: 220px; */
  /* font-size: 16px; */
  font-weight: 500;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.social-btn {
  width: 60px;
  height: 60px;
  border-radius: 1px;
  background-color: #ddb52c;
  border-color: rgba(0,0,0,0);
  /* color: #23272b; */
  color: #fff;
  padding-top: 13px;
}
.message-bg {
  width: 100%;
  position: relative;
  z-index: -1;
}
.google-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#message {
  padding-bottom: 33%;
  background:url(./images/message-bg.jpg) center no-repeat/97%; 
  background-position-y: 100%;
}
#project-left {
  background:url(./images/box-project.svg) center no-repeat/80%; 
  background-position-x: 130%;
  background-position-y: 20px;
}
#field-right {
  background:url(./images/box-field.svg) center no-repeat/97%; 
  background-position-x: 150px;
  background-position-y: 20px;
}
#timetable-left {
  background:url(./images/box-timetable.svg) center no-repeat/25%; 
  background-position-x: 100%;
  background-position-y: 0px;
}
#aboutus-right {
  background:url(./images/box-aboutus.svg) center no-repeat/100%; 
  background-position-x: 150px;
  background-position-y: 5px;
}
#info {
  background:url(./images/box-info.svg) center no-repeat/300px; 
  background-position-x: center;
  background-position-y: 10px;
}